.resume {
  width: 100%;
  height: 100vh;
  margin-top: 70px;
}
.headingExp {
  text-align: center;
  padding: 20px;
  border-bottom: 4px double white;
  color: #3d3d3d;
  background-color: transparent;
}

.resumeContainer {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.hI {
  text-align: center;
  color: white;
  padding: 10px 0px;
  width: 100%;
}
.zdivPart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hhh {
  color: #3d3d3d;
}
.accD {
  background-color: #3d3d3d;
  color: white;
}
@media screen and (max-width: 767px) {
  .resume {
    height: fit-content;
    padding-bottom: 20px;
  }
  .resumeContainer {
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: auto;
  }
}
.educationContainer {
  animation-name: moveX;
  animation-duration: 0.7s;
}
.work-Container {
  animation-name: movefromdown;
  animation-duration: 0.7s;
}
.Extra-container {
  animation-name: moveX4;
  animation-duration: 0.7s;
}

@keyframes moveX {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveX4 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes movefromdown {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
